.color1 {
    background-color: rgba(255, 210, 210, 0.8);
  }
  
  .color2 {
    background-color: rgba(198, 255, 198, 0.8);
  }
  
  .color3 {
    background-color: rgba(206, 206, 255, 0.8);
  }
  
  .color4 {
    background-color: rgba(249, 255, 196, 0.8);
  }
  
  .color5 {
    background-color: rgba(146, 233, 255, 0.8);
  }